h1{
    margin-bottom: 5px;
}

#output{
    height: 300px;
    overflow: auto;
    border: solid 1px steelblue;
    padding: 10px;
}

.box{
    display: flex;
}

.chart{
    margin-left: 100px;
}

.inputbox{
    width:400px;
    margin: 0 auto;
}

.input{
    border: double steelblue;
    padding: 10px;
    margin-bottom: 20px;
}

body{
    font-size: 14px;
}

h2{
    font-size: 16px;
    color: steelblue;
}

.title h2{
    margin-top: 0px;
    margin-bottom: 0px;
}